﻿<template id="add-book-template">
    <div>
        <h1></h1>

        <div class="form-group">
            <label for="title">Название:</label>
            <input type="text" name="title" data-val="true" data-validate-input-required="Введите название книги" data-object="Title">
            <span class="error" id="title-error-label"></span>
        </div>

        <div class="form-group">
            <label for="genre">Жанр:</label>
            <select name="genre" data-val="true" data-validate-input-required="Выберите жанр" data-object="Genre.Name">
                <option disabled selected value="">Выберите жанр</option>
                @foreach (var genre in @ViewBag.Genres)
                {
                    <option value=@genre.Name>@genre.Name</option>
                }
            </select>
            <span class="error" id="genre-error-label"></span>
        </div>

        <div class="form-group">
            <label for="pageQty">к-во страниц:</label>
            <input type="number" name="pageQty" data-val="true" data-validate-above-zero="Количество страниц должно быть больше нуля" data-object="PageQuantity">
            <span class="error" id="pageQty-error-label"></span>
        </div>
        <partial name="_SaveCancelBtn" />
    </div>
</template>