﻿<div>
    <h1></h1>

    <div class="author-property form-group">
        <label for="lname">Фамилия</label>
        <input type="text" name="lname" required data-val="true" data-validate-input-required="Введите фамилию автора" data-object="LastName" />
        <span class="error" id="lname-error-label"></span>
    </div>
    <div class="author-property form-group">
        <label for="fname">Имя</label>
        <input type="text" name="fname" required data-val="true" data-validate-input-required="Введите имя автора" data-object="FirstName" />
        <span class="error" id="fname-error-label"></span>
    </div>
    <div class="author-property form-group">
        <label for="patronymic">Отчество</label>
        <input type="text" name="patronymic" required data-val="true" data-validate-input-required="Введите отчество автора" data-object="Patronymic" />
        <span class="error" id="patronymic-error-label"></span>
    </div>
    <div class="author-property form-group">
        <label for="birthDate">Дата рождения</label>
        <input type="date" name="birthDate" required data-val="true" data-validate-input-required="Введите дату рождения автора" data-object="DateOfBirth" />
        <span class="error" id="birthDate-error-label"></span>
    </div>

    <partial name="_SaveCancelBtn" />
</div>