﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link href="/css/StyleSheet.css" rel="stylesheet" />

    <script src="/js/DataLibraryAdder.js"></script>
    <script src="/js/DataLibraryUpdater.js"></script>
    <script src="/js/FormInputValidator.js"></script>
    <script src="/js/TemporaryFormCreator.js"></script>
</head>
<body>
    <header>
        <div>
            Library
        </div>

        <nav>
            <div><a asp-action="Index">Authors</a></div>
            <div><a asp-action="Genres">Genres</a></div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div></div>
    </footer>

</body>
</html>
