﻿<h1>Информация об авторе</h1>

<form asp-action="ChangeAuthorInfo" method="post">
    <span class="hidden-element" id="author-lname">@Model.LastName</span>
    <span class="hidden-element" id="author-fname">@Model.FirstName</span>
    <span class="hidden-element" id="author-patronymic">@Model.Patronymic</span>
    <span class="hidden-element" id="author-bdate">@ViewBag.BirthDate</span>
    <partial name="_AuthorFormPartial" />

    <div class="add-link">
        <span>Книги</span>
        <a href="#" class="pull-right link-color" id="add-book">Добавить книгу</a>
    </div>

    @if (ViewBag.NotAddedBooks)
    {
        <div class="errorLabel">Некоторые книги уже существуют в библиотеке!</div>
    }

    <partial name="_AddBookPartial" />

    <div id="books">
        @foreach (Book book in Model.Books)
        {
            <div class="book">
                <div class="property">
                    <div class="property-name">Название:</div>
                    <div>@book.Title</div>
                </div>
                <div class="property">
                    <div class="property-name">Жанр:</div>
                    <div>@book.Genre.Name</div>
                </div>
                <div class="property">
                    <div class="property-name">к-во страниц:</div>
                    <div>@book.PageQuantity</div>
                </div>
                <a class="delete-btn pull-right" data-book-id=@book.Id data-author-id=@Model.Id title="Удалить книгу"></a>
                <a class="edit-btn pull-right" data-book-id=@book.Id data-author-id=@Model.Id title="Редактировать книгу"></a>
            </div>
        }
    </div>

    <input type="text" name="authorId" class="hidden-element" value=@Model.Id />
    <input type="text" name="newBooks" class="hidden-element listToUpdate" />
</form>

<script src="/js/JavaScriptAuthor.js"></script>