﻿@model List<Genre>

<h1>Информация о жанрах</h1>

<ul class="genre-list">
    @foreach (var genre in @Model)
    {
        <li>
            <button class="delete-btn pull-right" data-genre-id=@genre.Id title="Удалить жанр">
            </button>
            <a asp-action="GenreBooks" asp-route-id=@genre.Id>
                @genre.Name
            </a>
        </li>

    }
</ul>

@if (ViewBag.NotAddedGenres)
{
    <div class="errorLabel">Некоторые жанры уже существуют в библиотеке!</div>
}

<div>
    <a href="#" class="pull-right link-color" id="add-genre">Добавить жанр</a>
</div>

<form action="AddGenre" method="post">
    <template id="add-genre-template">
        <div>
            <h1></h1>

            <div class="form-group">
                <label for="name">Название жанра:</label>
                <input type="text" name="name" data-val="true" data-validate-input-required="Введите название жанра" data-object="name">
                <span class="error" id="name-error-label"></span>
            </div>

            <partial name="_SaveCancelBtn" />
        </div>
    </template>
    <input type="text" name="newGenres" class="hidden-element listToUpdate" />
</form>

<script src="/js/JavaScriptGenre.js"></script>