﻿<h1>Все книги по жанру "@ViewBag.GenreName"</h1>

<div id="books">
    @foreach (Book book in Model)
    {
        <div class="book">
            <div class="property">
                <div class="property-name">Название:</div>
                <div>@book.Title</div>
            </div>
            <div class="property">
                <div class="property-name">Жанр:</div>
                <div>@book.Genre.Name</div>
            </div>
            <div class="property">
                <div class="property-name">к-во страниц:</div>
                <div>@book.PageQuantity</div>
            </div>
            <div class="property">
                <div class="property-name">Авторы:</div>
                <div>@book.Author.FirstName @book.Author.Patronymic @book.Author.LastName</div>
            </div>
        </div>
    }
</div>
