﻿@model List<Author>

<h1>Авторы в библиотеке</h1>

<ul class="author-list">
    @foreach (var author in Model)
    {
        <li>
            <button class="delete-btn pull-right" data-author-id=@author.Id title="Удалить автора">
            </button>
            <a asp-action="AuthorsInfo" asp-route-id=@author.Id>
                @author.FirstName @author.Patronymic @author.LastName
            </a>
        </li>
    }
</ul>

@if (ViewBag.NotAddedAuthors)
{
    <div class="errorLabel">Некоторые авторы уже существуют в библиотеке!</div>
}

<div>
    <a href="#" class="pull-right link-color" id="add-author">Добавить автора</a>
</div>

<form asp-action="AddAuthor" method="post">
    <template id="add-author-template">
        <partial name="_AuthorFormPartial" />
    </template>
    <input type="text" name="newAuthors" class="hidden-element listToUpdate" />
</form>

<script src="/js/JavaScriptAuthorList.js"></script>