﻿document {
}

body {
    background-color: lightgray;
    width: 50%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 4px solid white;
    min-width: 400px;
}

header {
    background-color: black;
    color: white;
    font-weight: bold;
    height: 70px;
    display: block;
    padding-left: 30px;
    padding-right: 70px;
}

    header > div, nav {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    header > div {
        float: left;
        font-size: 26px;
    }

    header > nav {
        float: right;
    }

        header > nav a {
            text-decoration: none;
            color: white;
            display: block;
            line-height: 50px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }

            header > nav a:hover {
                background-color: white;
                color: black;
            }

main {
    height: 700px;
    overflow: auto;
    display: block;
    padding: 30px;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    height: 30px;
}

.author-property, .form-group {
    overflow: auto;
    padding: 5px
}

    .author-property > label, input, .form-group > label, input {
        float: left
    }

form div > label {
    display: block;
    width: 100px
}

.book, #add-book-form, .wait-to-add, .temporary-block {
    width: 40%;
    padding: 20px;
    margin: 20px;
}

.book {
    border: 2px solid black;
}

.property {
    overflow: auto;
}

    .property > label, input {
        float: left
    }

    .property > div {
        float: left;
        text-align: right;
        margin: 10px;
    }

.property-name {
    width: 100px;
}

.pull-right {
    display: block;
    float: right;
}

.link-color {
    color: blue;
}

.wait-to-add {
    background-color: lightgray;
    border: 2px dotted black;
}

.hidden-element {
    display: none;
}

select {
    width: 177px;
    height: 21px;
}

.author-list li {
    height: 40px;
    margin: 5px;
    list-style-type: none;
    border-bottom: 2px outset pink;
}

    .author-list li a {
        text-decoration: none;
        display: block;
        padding: 10px;
        color: black;
        width: 80%;
        float: left;
    }

        .author-list li a:hover {
            text-decoration: underline;
            color: blue;
        }

.save-btn {
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}



/*form temporary form*/
.form-group {
    margin: 10px 4px;
}

    .form-group label {
        display: block;
    }

.error {
    display: none;
}

.errorLabel {
    display: block;
    color: red;
}

.invalidInput {
    border: red 1px solid;
}

.temporary-block {
    border: 2px dashed black;
}

.delete-btn, .edit-btn {
    width: 20px;
    height: 100%;
    min-height: 20px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
}

.delete-btn {
    background-image: url(/delete-icon-png-red.png);
}

.edit-btn {
    background-image: url(/edit-icon-png.png);
}

.genre-list li {
    height: 20px;
    margin-bottom: 2px;
}

.genre-list button:hover ~ a {
    color: red;
    font-weight: bold;
}

.author-list button:hover ~ a {
    color: red;
    font-weight: bold;
}

.genre-list li a {
    text-decoration: none;
    display: block;
    color: black;
    width: 80%;
    float: left;
}

    .genre-list li a:hover {
        text-decoration: underline;
        color: blue;
    }

.add-link {
    overflow: auto;
    margin-top: 20px;
    border-bottom: 3px groove white;
    padding-bottom: 10px;
}

.author-list, .genre-list {
    border-bottom: 3px groove white;
    padding-bottom: 30px;
}
